body{

    

    margin: 0;
    background-color:#363240;
    overflow: hidden;
}
.fa .far .fas {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    color: #9FC3E6;
    font-size: 40px;
}

a{
    outline: 0;
}


.clicked{
    background-color: lightslategray;
}
button{
    border:none; 
    background-color: transparent;
    outline: none;
}

.inner:hover{
    background-color: lightslategray;
    cursor: crosshair;
}
.inner {
    padding: 0;
    top: 0;
    line-height: inherit;
    font-size:40px;
    color: #9FC3E6;
    left: 1000px;
    outline: 0;
    text-align: center;
}
.toolbox{
    height: 100vh;
    position:absolute;
    background-color: #0D0D0D;
    font-size:40px;
    opacity: 0.5;
}
.shapes{
    border-top: 1px dashed lightslategray;
    text-align: center;

}
.group .item{
    width: 40px;
    height: 50px;
    padding: 10px;
    color: #9FC3E6;
}
.item:hover{
    background-color: lightslategray;
    cursor: crosshair;
}
.item2:hover{
    background-color: lightslategray;
    cursor: crosshair;
}
.l{
   
    left:0;
    bottom: 0;
}

.r {
    height: 70px;
    position: absolute;
    background-color: #0D0D0D;
    font-size: 40px;
    opacity: 0.5;
    top: 0;
    left: 60px;
    border-bottom-right-radius: 20px;
    /*
    width: 60px;
    height: 60px;
    top:0;
    left:60px;
*/
}
.w{
    width: 30px;
    height: 30px;
   border-radius: 50%;
}
.item2{
    border-top: 2px solid lightslategray;
    border-top-style: hidden;
    border-radius: 10%;
    width: 35px;
    height: 45px;
    padding: 10px;
    color: #9FC3E6;

}
.item{
    border-top: 2px solid lightslategray;
    border-top-style: hidden;
    
}
#canvas{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;

}

#whole{
    height: 100vh;
    width: 60px;
    left:60px;
    top:0;
    background-color: transparent;
}